name: Publish Release

on:
  push:
    branches:
      - master
      - develop
      - release/**

jobs:
  release:

    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Import GPG key
        run: |
          echo "${{ secrets.GPG_PRIVATE_KEY }}" | gpg --batch --import
          echo -e "5\ny\n" | gpg --command-fd 0 --edit-key "${{ secrets.GPG_KEY_ID }}" trust
          git config --global user.signingkey ${{ secrets.GPG_KEY_ID }}
          git config --global commit.gpgsign true
          git config --global tag.gpgsign true

      - name: Release
        env:
          CI: true
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NYX_RELEASE_APPROVED: ${{ secrets.NYX_RELEASE_APPROVED }}
          ARTIFACTORY_USER: ${{ secrets.ARTIFACTORY_USER }}
          ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
        run: ./gradlew nyxRelease
