name: Release and Publish

on:
  push:
    branches:
      - master
      - develop
      - release/**
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target GitHub Environment'
        type: environment
        required: true
        default: 'development'

      nyx_dry_run:
        description: "Do not actually perform any release and publication tasks"
        type: choice
        default: "false"
        options: ["true", "false"]

      nyx_release_approved:
        description: "Approved to be tagged and published as a GitHub Release?"
        type: choice
        default: "false"
        options: ["true", "false"]

      artifactory_publish_approved:
        description: "Publish all artifacts to Artifactory"
        type: choice
        default: "false"
        options: ["true", "false"]

jobs:
  release:

    runs-on: ubuntu-latest

    environment: ${{ github.event_name == 'workflow_dispatch' && inputs.environment || 'development' }}

    env:
      NYX_DRY_RUN: ${{ github.event_name == 'workflow_dispatch' && inputs.nyx_dry_run || 'false' }}
      NYX_RELEASE_APPROVED: ${{ github.event_name == 'workflow_dispatch' && inputs.nyx_release_approved || secrets.NYX_RELEASE_APPROVED || 'false' }}
      ARTIFACTORY_PUBLISH_APPROVED: ${{ github.event_name == 'workflow_dispatch' && inputs.artifactory_publish_approved || secrets.ARTIFACTORY_PUBLISH_APPROVED || 'false' }}
      GITHUB_ENVIRONMENT: ${{ github.event_name == 'workflow_dispatch' && inputs.environment || 'development' }}
      GIT_BRANCH: ${{ github.ref }}
      GITHUB_EVENT: ${{ github.event_name }}

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Log operation policy
        run: |
          echo "Environment: $GITHUB_ENVIRONMENT"
          echo "NYX_DRY_RUN=$NYX_DRY_RUN"
          echo "NYX_RELEASE_APPROVED=$NYX_RELEASE_APPROVED"
          echo "ARTIFACTORY_PUBLISH_APPROVED=$ARTIFACTORY_PUBLISH_APPROVED"
          echo "GIT_BRANCH=$GIT_BRANCH"
          echo "GITHUB_EVENT=$GITHUB_EVENT"

      - name: Export Nyx State
        id: nyx_state
        env:
          CI: true
        shell: bash
        run: |
          ./gradlew nyxState --info

      - name: Nyx Auto Release
        id: nyx_auto_release
        if: |
          github.event_name == 'push' &&
          steps.nyx_state.outputs.nyx_new_release == 'true' &&
          env.NYX_RELEASE_APPROVED == 'true'
        env:
          CI: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NYX_DRY_RUN: "false"
        run: |
          ./gradlew nyxReleaseOrchestrated --info

      - name: Nyx Manual Release
        id: nyx_auto_release
        if: |
          github.event_name == 'workflow_dispatch' &&
          ((steps.nyx_state.outputs.nyx_new_release == 'true' && env.NYX_RELEASE_APPROVED == 'true') ||
          env.NYX_DRY_RUN == 'true')
        env:
          CI: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./gradlew nyxReleaseOrchestrated --info

      - name: Artifactory Auto Publish
        if: |
          github.event_name == 'push' &&
          steps.nyx_state.outputs.nyx_new_version == 'true' && 
          env.ARTIFACTORY_PUBLISH_APPROVED == 'true'
        env:
          CI: true
          ARTIFACTORY_USER: ${{ secrets.ARTIFACTORY_USER }}
          ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
          NYX_DRY_RUN: "false"
        run: |
          echo "Publishing artifacts to Artifactory (dry-run: $NYX_DRY_RUN)..."
        
          ./gradlew publish

      - name: Artifactory Manual Publish
        if: |
          github.event_name == 'workflow_dispatch' &&
          steps.nyx_state.outputs.nyx_new_version == 'true' && 
          env.ARTIFACTORY_PUBLISH_APPROVED == 'true' &&
          env.NYX_DRY_RUN != 'true'
        env:
          CI: true
          ARTIFACTORY_USER: ${{ secrets.ARTIFACTORY_USER }}
          ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}
        run: |
          echo "Publishing artifacts to Artifactory (dry-run: $NYX_DRY_RUN)..."
        
          ./gradlew publish

      - name: Cleanup
        run: |
          ./gradlew clean
          
          rm -rf ~/.local/bin/gpg-wrapper
